/.git
/.gitignore
/.gitattributes
/node_modules
/.env
/.env.example
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/.vscode
/.idea
/dist
/build
.DS_Store
*.log
/tests
phpunit.xml
.editorconfig
README.md
